.u-section-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)); background-position: 50% 50%}
.u-section-1 .u-sheet-1 {min-height: 760px}
.u-section-1 .u-layout-wrap-1 {margin: 380px auto 60px 0}
.u-section-1 .u-layout-cell-1 {min-height: 320px}
.u-section-1 .u-container-layout-1 {padding: 25px 30px 30px}
.u-section-1 .u-text-1 {font-size: 4.5rem; text-transform: uppercase; letter-spacing: 0; line-height: 1.1; font-weight: 900; animation-duration: 1000ms; margin: 0}
.u-section-1 .u-layout-cell-2 {min-height: 320px}
.u-section-1 .u-container-layout-2 {padding: 30px}
.u-section-1 .u-text-2 {font-weight: 700; text-transform: none; font-family: "Open Sans", sans-serif; font-size: 1.125rem; animation-duration: 1000ms; margin: 43px 0 0}
.u-section-1 .u-btn-1 {border-style: solid; font-size: 1.25rem; font-family: Poppins; text-transform: uppercase; font-weight: 800; margin: 20px auto 0 0} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 534px}
.u-section-1 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 264px}
.u-section-1 .u-layout-cell-2 {min-height: 264px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 458px}
.u-section-1 .u-layout-cell-1 {min-height: 100px}
.u-section-1 .u-container-layout-1 {padding-right: 15px}
.u-section-1 .u-text-1 {font-size: 3rem; width: auto; margin-right: -42px}
.u-section-1 .u-layout-cell-2 {min-height: 100px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 558px}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 580px}
.u-section-1 .u-layout-wrap-1 {margin-top: 160px; margin-right: initial; margin-left: initial}
.u-section-1 .u-text-1 {font-size: 2.25rem; margin-right: 0}
.u-section-1 .u-text-2 {font-family: Poppins}
.u-section-1 .u-btn-1 {animation-duration: 1000ms} }.u-section-2 {background-image: none}
.u-section-2 .u-sheet-1 {min-height: 378px}
.u-section-2 .u-text-1 {font-family: Poppins; font-weight: 900; font-size: 3.75rem; margin: 60px 17px 0}
.u-section-2 .u-text-2 {letter-spacing: 0; font-family: Poppins; font-size: 1.125rem; text-transform: none; width: 570px; margin: 20px auto 60px} 

@media (max-width: 1199px){ .u-section-2 {min-height: 369px}
.u-section-2 .u-text-1 {margin-left: 0; margin-right: 0} }

@media (max-width: 767px){ .u-section-2 .u-text-2 {width: 540px} }

@media (max-width: 575px){ .u-section-2 .u-text-1 {font-size: 2.25rem; animation-duration: 1000ms}
.u-section-2 .u-text-2 {width: 340px; animation-duration: 1000ms} }.u-section-3 .u-sheet-1 {min-height: 482px}
.u-section-3 .u-line-1 {width: 150px; height: 3px; animation-duration: 1000ms; margin: 60px auto 0}
.u-section-3 .u-text-1 {font-family: Poppins; font-size: 2.25rem; width: 785px; font-weight: 900; line-height: 43px; margin: 33px auto 0}
.u-section-3 .u-text-2 {font-family: Poppins; font-weight: 700; font-size: 1.5rem; margin: 20px auto 0}
.u-section-3 .u-text-3 {font-family: Poppins; font-size: 1.25rem; margin: 11px auto 0}
.u-section-3 .u-line-2 {width: 150px; height: 6px; transform-origin: center top 0; animation-duration: 1000ms; margin: 33px auto 60px} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 412px} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 316px}
.u-section-3 .u-text-1 {width: 720px} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 296px}
.u-section-3 .u-text-1 {width: 540px} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 429px}
.u-section-3 .u-line-1 {margin-top: 73px}
.u-section-3 .u-text-1 {width: 340px; font-size: 1.875rem; line-height: 1.3}
.u-section-3 .u-text-2 {font-size: 1.375rem; width: auto; margin-top: 33px}
.u-section-3 .u-text-3 {font-size: 1.125rem; width: auto} }.u-section-4 .u-sheet-1 {min-height: 200px}
.u-section-4 .u-layout-wrap-1 {margin-top: 60px; margin-bottom: 60px}
.u-section-4 .u-image-1 {min-height: 600px; background-position: 20% 50%}
.u-section-4 .u-container-layout-1 {padding: 30px}
.u-section-4 .u-layout-cell-2 {min-height: 693px}
.u-section-4 .u-container-layout-2 {padding: 30px}
.u-section-4 .u-text-1 {font-size: 1.875rem; line-height: 1.6; font-family: Poppins; font-weight: 600; margin: 0 0 0 94px} 

@media (max-width: 1199px){ .u-section-4 .u-sheet-1 {min-height: 95px}
.u-section-4 .u-image-1 {min-height: 495px}
.u-section-4 .u-layout-cell-2 {min-height: 571px}
.u-section-4 .u-text-1 {margin-left: 0} }

@media (max-width: 991px){ .u-section-4 .u-image-1 {min-height: 379px}
.u-section-4 .u-layout-cell-2 {min-height: 100px} }

@media (max-width: 767px){ .u-section-4 .u-sheet-1 {min-height: 385px}
.u-section-4 .u-image-1 {min-height: 569px}
.u-section-4 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-4 .u-sheet-1 {min-height: 174px}
.u-section-4 .u-image-1 {min-height: 358px} }.u-section-5 {background-image: none}
.u-section-5 .u-sheet-1 {min-height: 378px}
.u-section-5 .u-text-1 {font-family: Poppins; font-weight: 900; font-size: 3.75rem; margin: 60px 17px 0}
.u-section-5 .u-text-2 {letter-spacing: 0; font-family: Poppins; font-size: 1.125rem; text-transform: none; width: 570px; margin: 20px auto 60px} 

@media (max-width: 1199px){ .u-section-5 {min-height: 369px}
.u-section-5 .u-text-1 {margin-left: 0; margin-right: 0} }

@media (max-width: 767px){ .u-section-5 .u-text-2 {width: 540px} }

@media (max-width: 575px){ .u-section-5 .u-text-1 {font-size: 2.25rem; animation-duration: 1000ms}
.u-section-5 .u-text-2 {width: 340px; animation-duration: 1000ms} }.u-section-6 {background-image: none; min-height: 563px}
.u-section-6 .u-shape-1 {width: calc(((100% - 1140px) / 2) + 570px); left: 0; background-image: none; right: auto}
.u-section-6 .u-layout-wrap-1 {width: 1140px; margin: 60px auto}
.u-section-6 .u-layout-cell-1 {min-height: 444px}
.u-section-6 .u-container-layout-1 {padding: 30px}
.u-section-6 .u-text-1 {font-family: Poppins; font-weight: 900; font-size: 3rem; margin: 88px auto 0}
.u-section-6 .u-image-1 {min-height: 443px; background-position: 50% 50%}
.u-section-6 .u-container-layout-2 {padding: 30px}
.u-section-6 .u-layout-cell-3 {min-height: 444px}
.u-section-6 .u-container-layout-3 {padding: 30px}
.u-section-6 .u-btn-1 {background-image: none; border-style: solid; text-transform: uppercase; letter-spacing: 2px; font-size: 1.5rem; font-weight: 700; font-family: Poppins; margin: 0 auto} 

@media (max-width: 1199px){ .u-section-6 {min-height: 485px}
.u-section-6 .u-shape-1 {width: calc(((100% - 940px) / 2) + 470px)}
.u-section-6 .u-layout-wrap-1 {width: 940px}
.u-section-6 .u-layout-cell-1 {min-height: 366px}
.u-section-6 .u-image-1 {min-height: 365px}
.u-section-6 .u-layout-cell-3 {min-height: 366px} }

@media (max-width: 991px){ .u-section-6 {min-height: 399px}
.u-section-6 .u-shape-1 {width: calc(((100% - 720px) / 2) + 360px)}
.u-section-6 .u-layout-wrap-1 {width: 720px}
.u-section-6 .u-layout-cell-1 {min-height: 100px}
.u-section-6 .u-text-1 {margin-top: 0; font-size: 2.25rem}
.u-section-6 .u-image-1 {min-height: 280px}
.u-section-6 .u-layout-cell-3 {min-height: 100px}
.u-section-6 .u-btn-1 {font-size: 1.25rem; margin-left: -4px; margin-right: -4px} }

@media (max-width: 767px){ .u-section-6 {min-height: 849px}
.u-section-6 .u-shape-1 {width: calc(((100% - 540px) / 2) + 270px)}
.u-section-6 .u-layout-wrap-1 {width: 540px}
.u-section-6 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-text-1 {margin-left: 0; margin-right: 0}
.u-section-6 .u-image-1 {min-height: 630px}
.u-section-6 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-btn-1 {margin-left: auto; margin-right: auto} }

@media (max-width: 575px){ .u-section-6 {min-height: 916px}
.u-section-6 .u-shape-1 {width: calc(((100% - 340px) / 2) + 170px)}
.u-section-6 .u-layout-wrap-1 {width: 340px}
.u-section-6 .u-text-1 {margin-top: 31px}
.u-section-6 .u-image-1 {min-height: 397px}
.u-section-6 .u-btn-1 {padding: 10px 17px} }