.u-section-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)); background-position: 50% 50%}
.u-section-1 .u-sheet-1 {min-height: 760px}
.u-section-1 .u-layout-wrap-1 {margin: 380px auto 60px 0}
.u-section-1 .u-layout-cell-1 {min-height: 320px}
.u-section-1 .u-container-layout-1 {padding: 25px 30px 30px}
.u-section-1 .u-text-1 {font-size: 4.5rem; text-transform: uppercase; letter-spacing: 0; line-height: 1.1; font-weight: 900; animation-duration: 1000ms; margin: 0}
.u-section-1 .u-layout-cell-2 {min-height: 320px}
.u-section-1 .u-container-layout-2 {padding: 30px}
.u-section-1 .u-text-2 {font-weight: 700; text-transform: none; font-family: "Open Sans", sans-serif; font-size: 1.125rem; animation-duration: 1000ms; margin: 43px 0 0}
.u-section-1 .u-btn-1 {border-style: solid; margin-left: 0; margin-right: 0; font-size: 1.25rem; font-family: Poppins; text-transform: uppercase; font-weight: 800} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 534px}
.u-section-1 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 264px}
.u-section-1 .u-layout-cell-2 {min-height: 264px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 458px}
.u-section-1 .u-layout-cell-1 {min-height: 202px}
.u-section-1 .u-container-layout-1 {padding-right: 15px}
.u-section-1 .u-text-1 {font-size: 3rem; width: auto; margin-right: -42px}
.u-section-1 .u-layout-cell-2 {min-height: 202px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 558px}
.u-section-1 .u-layout-cell-1 {min-height: 303px}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-layout-cell-2 {min-height: 303px}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 580px}
.u-section-1 .u-layout-wrap-1 {margin-top: 160px; margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 191px}
.u-section-1 .u-text-1 {font-size: 2.75rem; margin-right: 0}
.u-section-1 .u-layout-cell-2 {min-height: 191px}
.u-section-1 .u-text-2 {font-family: Poppins} }.u-section-2 {background-image: none}
.u-section-2 .u-sheet-1 {min-height: 288px}
.u-section-2 .u-text-1 {font-family: Poppins; font-weight: 900; font-size: 3.75rem; margin: 90px 0 0 33px}
.u-section-2 .u-text-2 {letter-spacing: 0; font-family: Poppins; font-size: 1.125rem; text-transform: none; margin: 20px 537px 0 33px} 

@media (max-width: 1199px){ .u-section-2 {min-height: 369px}
.u-section-2 .u-text-1 {margin-left: 0}
.u-section-2 .u-text-2 {margin-right: 370px; margin-left: 0} }

@media (max-width: 991px){ .u-section-2 .u-text-2 {margin-right: 150px} }

@media (max-width: 767px){ .u-section-2 .u-text-1 {margin-top: 60px}
.u-section-2 .u-text-2 {margin-right: 0} }

@media (max-width: 575px){ .u-section-2 .u-text-1 {font-size: 1.5rem} }.u-section-3 .u-sheet-1 {min-height: 258px}
.u-section-3 .u-group-1 {width: 800px; min-height: 256px; margin: 2px auto 0}
.u-section-3 .u-container-layout-1 {padding: 30px 50px 29px}
.u-section-3 .u-text-1 {font-family: Poppins; font-weight: 700; margin: 0}
.u-section-3 .u-line-1 {width: 100px; height: 3px; margin: 14px auto 0}
.u-section-3 .u-text-2 {font-family: Poppins; font-weight: 600; margin: 16px 0 0} 

@media (max-width: 1199px){ .u-section-3 .u-text-2 {margin-top: 15px} }

@media (max-width: 991px){ .u-section-3 .u-group-1 {width: 720px}
.u-section-3 .u-container-layout-1 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-3 .u-group-1 {width: 540px} }

@media (max-width: 575px){ .u-section-3 .u-group-1 {width: 340px} }.u-section-4 {background-image: none}
.u-section-4 .u-sheet-1 {min-height: 288px}
.u-section-4 .u-text-1 {font-family: Poppins; font-weight: 900; font-size: 3.75rem; margin: 86px 70px 0 0}
.u-section-4 .u-text-2 {letter-spacing: 0; font-family: Poppins; font-size: 1.125rem; text-transform: none; margin: 20px 70px 32px 500px} 

@media (max-width: 1199px){ .u-section-4 {min-height: 369px}
.u-section-4 .u-text-1 {margin-right: 0}
.u-section-4 .u-text-2 {margin-right: 0; margin-left: 370px} }

@media (max-width: 991px){ .u-section-4 .u-text-2 {margin-left: 150px} }

@media (max-width: 767px){ .u-section-4 .u-text-2 {margin-left: 0} }

@media (max-width: 575px){ .u-section-4 .u-text-1 {font-size: 1.5rem} }.u-section-5 .u-sheet-1 {min-height: 284px}
.u-section-5 .u-group-1 {width: 333px; min-height: 256px; margin: 2px auto 0 170px}
.u-section-5 .u-container-layout-1 {padding: 30px 50px 29px}
.u-section-5 .u-text-1 {font-family: Poppins; font-weight: 700; margin: 0}
.u-section-5 .u-line-1 {width: 100px; height: 3px; margin: 14px auto 0}
.u-section-5 .u-text-2 {font-family: Poppins; font-weight: 600; margin: 16px 0 0}
.u-section-5 .u-group-2 {width: 333px; min-height: 256px; margin: -256px 170px 2px auto}
.u-section-5 .u-container-layout-2 {padding: 30px 50px 29px}
.u-section-5 .u-text-3 {font-family: Poppins; font-weight: 700; margin: 0 -50px}
.u-section-5 .u-line-2 {width: 100px; height: 3px; margin: 14px auto 0}
.u-section-5 .u-text-4 {font-family: Poppins; font-weight: 600; margin: 16px 0 0} 

@media (max-width: 1199px){ .u-section-5 .u-group-1 {width: 800px; margin-left: auto}
.u-section-5 .u-text-2 {margin-top: 15px}
.u-section-5 .u-group-2 {width: 660px; margin-right: auto}
.u-section-5 .u-text-3 {margin-left: 0; margin-right: 0}
.u-section-5 .u-text-4 {margin-top: 15px} }

@media (max-width: 991px){ .u-section-5 .u-group-1 {width: 720px}
.u-section-5 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-5 .u-group-2 {margin-top: 20px}
.u-section-5 .u-container-layout-2 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-5 .u-group-1 {width: 540px}
.u-section-5 .u-group-2 {width: 540px; margin-bottom: 60px} }

@media (max-width: 575px){ .u-section-5 .u-group-1 {width: 340px}
.u-section-5 .u-group-2 {width: 340px} }.u-section-6 {background-image: none}
.u-section-6 .u-sheet-1 {min-height: 288px}
.u-section-6 .u-text-1 {font-family: Poppins; font-weight: 900; font-size: 3.75rem; margin: 90px 0 0 33px}
.u-section-6 .u-text-2 {letter-spacing: 0; font-family: Poppins; font-size: 1.125rem; text-transform: none; margin: 20px 537px 0 33px} 

@media (max-width: 1199px){ .u-section-6 {min-height: 369px}
.u-section-6 .u-text-1 {margin-left: 0}
.u-section-6 .u-text-2 {margin-right: 370px; margin-left: 0} }

@media (max-width: 991px){ .u-section-6 .u-text-2 {margin-right: 150px} }

@media (max-width: 767px){ .u-section-6 .u-text-1 {margin-top: 60px}
.u-section-6 .u-text-2 {margin-right: 0} }

@media (max-width: 575px){ .u-section-6 .u-text-1 {font-size: 1.5rem} }.u-section-7 .u-sheet-1 {min-height: 258px}
.u-section-7 .u-group-1 {width: 800px; min-height: 256px; margin: 2px auto 0}
.u-section-7 .u-container-layout-1 {padding: 30px 50px 29px}
.u-section-7 .u-text-1 {font-family: Poppins; font-weight: 700; margin: 0}
.u-section-7 .u-line-1 {width: 100px; height: 3px; margin: 14px auto 0}
.u-section-7 .u-text-2 {font-family: Poppins; font-weight: 600; margin: 16px 0 0} 

@media (max-width: 1199px){ .u-section-7 .u-text-2 {margin-top: 15px} }

@media (max-width: 991px){ .u-section-7 .u-group-1 {width: 720px}
.u-section-7 .u-container-layout-1 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-7 .u-group-1 {width: 540px} }

@media (max-width: 575px){ .u-section-7 .u-group-1 {width: 340px} }.u-section-8 {background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)); background-position: 35.09% 23.7%; background-size: 135%}
.u-section-8 .u-sheet-1 {min-height: 249px}
.u-section-8 .u-layout-wrap-1 {margin: 60px 0}
.u-section-8 .u-layout-cell-1 {min-height: 129px}
.u-section-8 .u-container-layout-1 {padding-left: 60px; padding-right: 60px}
.u-section-8 .u-text-1 {font-weight: 700; font-family: Poppins; letter-spacing: 0; line-height: 1.3; margin: 0 -30px}
.u-section-8 .u-layout-cell-2 {min-height: 129px}
.u-section-8 .u-btn-1 {font-size: 1.25rem; font-weight: 700; margin: 0 auto; padding: 10px 40px} 

@media (max-width: 1199px){ .u-section-8 .u-sheet-1 {min-height: 226px}
.u-section-8 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-8 .u-layout-cell-1 {min-height: 106px}
.u-section-8 .u-text-1 {margin-left: 0; margin-right: 0}
.u-section-8 .u-layout-cell-2 {min-height: 106px} }

@media (max-width: 991px){ .u-section-8 .u-sheet-1 {min-height: 220px}
.u-section-8 .u-layout-cell-1 {min-height: 100px}
.u-section-8 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-8 .u-layout-cell-2 {min-height: 100px} }

@media (max-width: 767px){ .u-section-8 .u-sheet-1 {min-height: 320px}
.u-section-8 .u-container-layout-1 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-8 {background-size: auto 135%}
.u-section-8 .u-btn-1 {margin-right: initial; margin-left: initial; padding: 9px 30px 11px 29px} }